
/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  box-sizing: border-box; 
}


/* Base Styles */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
  text-align: center;
  background-color: darkslateblue; 
  min-height: 100%;
  height: auto;
}

body  {
  font-family: serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: black;
}

a {
  color: black;
  text-align: center
}

h1{
  color: darkslategray;
  font-size: 30px;
  margin-bottom: 10px;
}

h2{ 
  font-size: 20px;
  line-height: 90%;
  color: deeppink;
}

h3{ 
  margin-top: 0;
  color: orangered;
  margin-bottom: 5px;
}

p {
  line-height: 1.25px;
  color: darkslategray;
  margin-bottom: 10px;
  font-family: sans-serif
}

/*Logo*/
.logo {
  position: relative;
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

/* Search Styles */

.search {
  background: lightseagreen;
  color: white;
  width: 90%;
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px 30px;
  text-align: center;
}

.search h1 {
  color: white;
}

.search label {
  display: none;
}

.search input {
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  padding: 10px 0 10px 15px;
  font-size: 20px;
  color: deeppink;
  background: navajowhite;
  border: 1px solid;
  border-radius: 10px;
}

.search .formgroup input {
  border: 1px solid black;
  display: inline;
  width: auto;
}

.search label.formgroup {
  display: inline;
  width: auto;
}

.search select {
  display: inline;
  padding: 10px 0 10px 15px;
  font-size: 15px; 
  color: darkslategray;
  background: dodgerblue;
  border: 1px solid black;
  border-radius: 10px;
  outline: 0;
}

/* fighter List Styles */

.fighterlist {
  background: navajowhite;
  width: 50%;
  min-width: 290px;
  max-width:350px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 0 0 20px 20px;
  opacity: .95;
}

.fighterlist ul {
  margin: 0;
  padding: 0;
  background: white;
}

.fighterlist li {
  margin: 0;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid black;
  opacity: .9;
  transition: all 0.3s ease-out;
}

.fighterlist a {
  display: block;
  text-decoration: none;
}

.fighterlist li:hover {
  background: navajowhite;
  opacity: 1;
  transform: scale(1.2);
}

.fighter img {
  display: block;
  float: left;
  width: 60px;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.fighter info {
  display: block;
  float: left;
  padding-left: 120px;
}

#return {
  text-align: center;
  margin-top: 10px
}

.fighter:last-child {
  border-bottom:none;
}

.fighterinfo {
  font-size: 16px;
  line-height: 160%;
  background: navajowhite;
  color: darkslategray;
  width: 90%;
  min-width: 320px;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 30px;
  border-radius: 10px;
}

.fighterinfo h1{
  font-size: 1.8em;
  margin-bottom: 0;
}

.fighterinfo img {
  width: 40%;
  max-width: 130px;
  border-radius: 20px;
}

